<div class="container-fluid bg-white m-0 p-0">
  <div class="container  pb-20 pt-20">
    <div class="row">
      <div class="col-md-7 col-sm-6">
        <div class="about-title clearfix">
          <h1>About the <span>Sustainability Dashboard</span></h1>
          <h3>Get your questions filled in by faculties </h3>
          <p class="about-paddingB">You can create questionnaires that faculties can fill in. Based on the questions
            filled in you will get a graph of the results</p>
          <p>sed lobortis pulvinar. Integer laoreet mi id eros porta euismod. Suspendisse potenti. Nulla eros mauris,
            convallis et sem tempus, viverra hendrerit sapien</p>
      </div>
      </div>
    </div>
  </div>
</div>
