<div class="container">
  <!-- content -->
  <div class="py-8 mt-10">
    <div class="row">
      <!-- col -->
      <div class="offset-xl-1 col-xl-10 col-md-12">
        <div class="row mb-10">
          <!-- text -->
          <div class="col-md-12 col-12 mb-8">
            <h1 class="display-4 fw-bold ls-sm">About Us</h1>
            <div class="d-lg-flex align-items-center mt-4">
              <div>
                <p class="mb-lg-0">Find out more about us below.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-12 col-12 mb-3">
            <!-- card -->
            <div class="card">
              <!-- card body -->
              <div class="card-body p-6 border-bottom mb-4">
                <!-- text -->
                <h2 class="mb-3">Contact</h2>
                <p class="mb-0">For early-stage startups that want to spend more time developing and less on manual
                  operations.
                </p>
              </div>
              <!-- card body -->
              <div class="card-body">
                <p class="mb-0">All core features, including:</p>
                <a href="#" class="btn btn-outline-primary"><i class="fas fa-phone"></i></a>
                <p class="mb-0">All core features, including:</p>
                <a href="#" class="btn btn-outline-primary"><i class="fas fa-phone"></i></a>
                <p class="mb-0">All core features, including:</p>
                <a href="#" class="btn btn-outline-primary"><i class="fas fa-phone"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xl-8 col-lg-6 col-md-12 col-12 mb-3">
            <!-- card -->
            <div class="card">
              <!-- card body -->
              <div class="card-body p-6 border-bottom">
                <h2 class="mb-3">Locate Us</h2>
                <p class="mb-0">For fast-growth scaleups that want to grow by maximizing efficiencies in their
                  revenue operations.
                </p>
              </div>
              <!-- card body -->
              <div class="card-body p-0">
                <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=nl&amp;q=wibautstraat%203b+(Hogeschool%20van%20Amsterdam)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.mapsdirections.info/nl/cirkel-straal-kaart/">Bereken de straal</a></iframe></div>
                <!-- list -->
              </div>
            </div>
          </div>
        </div>
        <!-- row -->
        <div class="row mb-10">
          <!-- col -->
          <div class="col-lg-12 col-md-12 col-12">
            <!-- text -->
            <div class="mb-8">
              <h2>Everything you need to build efficiently
              </h2>
              <p>Start building your app using our tools, be efficient, spend less time with details more time with
                your business.
              </p>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-4 col-md-6 col-12">
            <!-- text -->
            <div class="mb-8">
              <div class="icon-shape icon-lg bg-primary rounded-3 mb-4">
                <i class="text-white" data-feather="edit"></i>
              </div>
              <h4>Create and Edit Projects</h4>
              <p>Donec posuere felis sit amet felis max imus roin consectetur quis leo id eleifuet, sapien quis
                fringilla finibus.
              </p>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-4 col-md-6 col-12">
            <!-- text -->
            <div class="mb-8">
              <div class="icon-shape icon-lg bg-primary rounded-3 mb-4">
                <i class="text-white" data-feather="filter"></i>
              </div>
              <h4>Search and Filter</h4>
              <p>Vestibulum in neque augue. Vivamus sed tempor mi. Integer dolor urna, dictum a arcu vitae,
                efficitur semper lorem.
              </p>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-4 col-md-6 col-12">
            <!-- text -->
            <div class="mb-8">
              <div class="icon-shape icon-lg bg-primary rounded-3 mb-4">
                <i class="text-white" data-feather="rotate-ccw"></i>
              </div>
              <h4>Real Time Updates</h4>
              <p>Maecenas nec mauris dui. Sed ut mi a nibh rhoncus blandit. Cras accumsan, eros in malesuada
                convallis.
              </p>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-4 col-md-6 col-12">
            <!-- text -->
            <div class="mb-8">
              <div class="icon-shape icon-lg bg-primary rounded-3 mb-4">
                <i class="text-white" data-feather="tag"></i>
              </div>
              <h4>Meta Information
              </h4>
              <p>Aenean justo lorem, semper non lectus quis, porta semper enim. Integer posuere lorem eu neque
                pellentesque.
              </p>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-4 col-md-6 col-12">
            <!-- text -->
            <div class="mb-8">
              <div class="icon-shape icon-lg bg-primary rounded-3 mb-4">
                <i class="text-white" data-feather="file-text"></i>
              </div>
              <!-- heading -->
              <h4>Pre rendered Results
              </h4>
              <p>Donec cursus libero non nibh consectetur sodales tincidunt vitae turpis. Duis feugiat at lorem id
                iaculis.
              </p>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-4 col-md-6 col-12">
            <!-- text -->
            <div class="mb-8">
              <div class="icon-shape icon-lg bg-primary rounded-3 mb-4">
                <i class="text-white" data-feather="trending-up"></i>
              </div>
              <h4>Simple Analytics
              </h4>
              <p>Nulla imperdiet sem quis ipsum condi mentum po ris sit amet libero et turpis vestibulum faucibus at
                nec lacus.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- col -->
          <div class="col-12">
            <div class="mb-8">
              <h2 class="mb-0">Frequently Asked Questions</h2>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-4 col-md-6 col-12">
            <!-- text -->
            <div class="mb-8">
              <h4 class="mb-4">Will i be charged now for?</h4>
              <p>Vestibulum pulvinar est at erat laoreet fringilla. Nullam imperdiet, augue non vestibulum triuam
                quat maxim felis.
              </p>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-4 col-md-6 col-12">
            <!-- text -->
            <div class="mb-8">
              <h4 class="mb-4">How does a subscription work?</h4>
              <p>Donec tempus imperdiet libero quis ultricies. Donec nunc nisi, imperdiet nec porta ultrices,
                accumsan a nibh.
              </p>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-4 col-md-6 col-12">
            <!-- text -->
            <div class="mb-8">
              <h4 class="mb-4">Can I cancel anytime?</h4>
              <p>Yes, Pellentesque habitant morbi tristique senectus et netus fficitur eget lacus eu, gravida
                blandit sem. Duis aliquam convallis tempor
              </p>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-4 col-md-6 col-12">
            <!-- text -->
            <div class="mb-8">
              <h4 class="mb-4">How long is my personal?</h4>
              <p>Aliquam vel sodales est. Mauris eu dignissim dolor. Praesent scelerisque dolor risus, quis viverra
                interdum turpis tincidunt interdum.
              </p>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-4 col-md-6 col-12">
            <!-- text -->
            <div class="mb-8">
              <h4 class="mb-4">What are Multisite plan?</h4>
              <p>Quisque accumsan odio sed congue u eleifend est porttitor nisi lobortis, sit aget dolor rhoncus
                tincidunt vel a mauris.
              </p>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-4 col-md-6 col-12">
            <!-- text -->
            <div class="mb-8">
              <h4 class="mb-4">Are the files downloadable?</h4>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fitur eget lacus eu, gravida
                blandit sem.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
