<div class="container">
  <!-- content -->
  <div class="py-8 mt-10">
    <div class="row">
      <!-- col -->
      <div class="offset-xl-1 col-xl-10 col-md-12">
        <div class="row mb-10">
          <!-- text -->
          <div class="col-md-12 col-12 mb-8">
            <h1 class="display-4 fw-bold ls-sm">Contact</h1>
            <div class="d-lg-flex align-items-center mt-4">
              <div>
                <p class="mb-lg-0">Find out more about us below.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-12 col-12 mb-3">
            <!-- card -->
            <div class="card">
              <!-- card body -->
              <div class="card-body p-6 border-bottom mb-4">
                <!-- text -->
                <h3>Opening Hours</h3><br>
                <p class="mb-0">
                  Monday: 08:00-18:00<br>
                  Tuesday: 08:00-18:00<br>
                  Wednesday: 08:00-18:00<br>
                  Thursday: 08:00-20:00<br>
                  Friday: 0800-20:00<br>
                  Saturday: Closed<br>
                  Sunday: Closed
                </p>
              </div>
              <!-- card body -->
              <div class="card-body">
                <a class="btn btn-outline-primary w-100 mb-3" href="telto:020 5954955"><span
                  class="me-1">+020 5954955</span><i class="fas fa-phone"></i></a>
                <a class="btn btn-outline-primary w-100 mb-1" href="#"><span
                  class="me-1">Go-auas@hva.nl</span><i
                  class="fas fa-envelope"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xl-8 col-lg-6 col-md-12 col-12 mb-3 p-0">
            <!-- card -->
            <div class="card">
              <!-- card body -->
              <div class="card-body p-0">
                <div style="width: 100%">
                  <iframe frameborder="0" height="445" marginheight="0" marginwidth="0" scrolling="no"
                          src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=nl&amp;q=wibautstraat%203b+(Hogeschool%20van%20Amsterdam)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                          width="100%">
                    <a href="https://www.mapsdirections.info/nl/cirkel-straal-kaart/">Bereken de
                      straal</a>
                  </iframe>
                </div>
                <!-- list -->
              </div>
            </div>
          </div>
        </div>
        <!-- row -->
        <div class="row">
          <!-- col -->
          <div class="col-12">
            <div class="mb-8">
              <h2 class="mb-0">Frequently Asked Questions</h2>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-4 col-md-6 col-12">
            <!-- text -->
            <div class="mb-8">
              <h4 class="mb-4">How does the grading work?</h4>
              <p>As an admin you will have a graph for every faculty on a questionnare. Based on the answers the
                faculties will fill in you will get a result filled within graphs.
              </p>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-4 col-md-6 col-12">
            <!-- text -->
            <div class="mb-8">
              <h4 class="mb-4">How does a faculty fill in the questionnares?</h4>
              <p>An admin can choose to set certain questionnaires available to faculties, allowing the faculty account
                owner have the questionnaire available to be filled in.
              </p>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-4 col-md-6 col-12">
            <!-- text -->
            <div class="mb-8">
              <h4 class="mb-4">Can I edit the questionnaire?</h4>
              <p>Yes, you can edit the questionnaire. However if a single faculty already has filled in the
                questionnaire, you will no longer be able to edit the questionnaire.
              </p>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-4 col-md-6 col-12">
            <!-- text -->
            <div class="mb-8">
              <h4 class="mb-4">How long is my personal?</h4>
              <p>Aliquam vel sodales est. Mauris eu dignissim dolor. Praesent scelerisque dolor risus,
                quis viverra
                interdum turpis tincidunt interdum.
              </p>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-4 col-md-6 col-12">
            <!-- text -->
            <div class="mb-8">
              <h4 class="mb-4">What are Multisite plan?</h4>
              <p>Quisque accumsan odio sed congue u eleifend est porttitor nisi lobortis, sit aget dolor
                rhoncus
                tincidunt vel a mauris.
              </p>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-4 col-md-6 col-12">
            <!-- text -->
            <div class="mb-8">
              <h4 class="mb-4">Are the files downloadable?</h4>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fitur eget lacus eu,
                gravida
                blandit sem.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
