<div class="container">


    <div class="row mt-5 mb-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="mb-4 text-center" id="custom-content">
                <span class="badge bg-info mb-2" id="pillar-badge">{{survey?.pillar}}</span>

                <h2>{{survey?.title}}</h2>
            </div>
            <!-- Card -->
            <div class="card position-relative">

                <!-- Tab content -->
                <div class="tab-content p-4" id="pills-tabContent-custom-content">
                    <div aria-labelledby="pills-custom-content-design-tab"
                         class="tab-pane tab-example-design fade show active"
                         id="pills-custom-content-design"
                         role="tabpanel">


                        <!--<span class="badge rounded-pill bg-success w-100">Success</span>-->
                        <!--<span class="badge rounded-pill bg-danger w-100">Danger</span>-->
                        <!--<span class="badge rounded-pill bg-warning w-100">Warning</span>-->

                        <div *ngIf="questions?.length != 0; else noquestions">

                            <div *ngFor="let question of questions">
                                <app-survey-question
                                        (newScoringValue)="addOrUpdateScoringArray($event)"
                                        [question]="question"
                                        [scoringDescription]="scoringDescription">
                                </app-survey-question>

                                <hr>

                            </div>

                            <button (click)="onSubmit()" *ngIf="questions?.length == scoringResponse.length">Submit
                            </button>
                        </div>


                        <ng-template #noquestions>
                            <div>
                                <h3 class="text-center mb-5">There are no questions available for this survey.</h3>
                                <div aria-labelledby="pills-range-fourth-design-tab"
                                     class="tab-pane tab-example-design fade show active"
                                     role="tabpanel">

                                    <div class="col-sm-12 text-center p-0 m-0">
                                        <img class="img-fluid center-block w-50 me-auto"
                                             src="./assets/images/svg/no-survey.svg">
                                    </div>
                                </div>
                            </div>
                        </ng-template>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
