<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div id="custom-content" class="mb-4 text-md-center">
        <h2>Education</h2>
      </div>
      <!-- Card -->
      <div class="card">
        <!-- Tab content -->
        <div class="tab-content p-4" id="pills-tabContent-custom-content">
          <div class="tab-pane tab-example-design fade show active" id="pills-custom-content-design" role="tabpanel"
               aria-labelledby="pills-custom-content-design-tab">
            <div class="list-group">
              <div href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Vision and Strategy</h5>
                </div>
                <p class="mb-1">sustainability is leading in the educational vision and strategy of the programme</p>
                <small class="text-success">example for others</small>
                <div class="tab-pane tab-example-design fade show active" id="rangeitem" role="tabpanel"
                     aria-labelledby="pills-range-fourth-design-tab">
                  <input type="range" class="form-range" id="form" value="0" min="0" max="4" step="1"
                         oninput="this.nextElementSibling.value = this.value">
                  <output>0</output>
                </div>
              </div>
              <div href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Curriculum</h5>
                </div>
                <p class="mb-1">the hva integrates sustainability into all curricula</p>
                <small class="text-warning">consistent</small>
                <div class="tab-pane tab-example-design fade show active" id="pills-range-fourth-design" role="tabpanel"
                     aria-labelledby="pills-range-fourth-design-tab">
                  <input type="range" class="form-range" value="0" min="0" max="4" step="1"
                         oninput="this.nextElementSibling.value = this.value">
                  <output>0</output>
                </div>
              </div>
              <div href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Students</h5>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  blandit.</p>
                <small class="text-danger">ad hoc</small>
                <div class="tab-pane tab-example-design fade show active" id="pills-range-fourth-design" role="tabpanel"
                     aria-labelledby="pills-range-fourth-design-tab">
                  <input type="range" class="form-range" value="0" min="0" max="4" step="1"
                         oninput="this.nextElementSibling.value = this.value">
                  <output>0</output>
                </div>
              </div>
              <div href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Staff</h5>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                  blandit.</p>
                <small class="text-dark-warning">Donec id elit non mi porta.</small>
                <div class="tab-pane tab-example-design fade show active" id="pills-range-fourth-design" role="tabpanel"
                     aria-labelledby="pills-range-fourth-design-tab">
                  <input type="range" class="form-range" value="0" min="0" max="4" step="1"
                         oninput="this.nextElementSibling.value = this.value">
                  <output>0</output>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
