.jumbotron {
    position: relative;
    height: 30rem;
    background: url("/assets/img/background/home.png") no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #dcdce4;
    margin-top: 4.5rem;
}
.bd-placeholder-img{
  background: url("/assets/img/background/sustainable.jpg") no-repeat;
  background-size: cover;
  width: 200px;
  height: 250px;
}

.overlay {
    content: '';
    background: url("/assets/img/overlay/overlay-2.svg") no-repeat;
    background-position: top right;
    background-size: auto 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}


