<div class="jumbotron">
    <div class="overlay">
        <div class="row flex-lg-row-reverse align-items-center g-5 pt-10">
            <div class="col-10 col-sm-8 col-lg-3">
            </div>

            <div class="col-lg-8 rounded p-5">
                <h1 class="display-5 fw-bold lh-1 mb-3">A sustainable HvA<br> making a difference.</h1>

                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" routerLink="/account/login">Login</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="/contact">Contact</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="background: #fff">
<div class="container py-10">
    <div class="row rounded overflow-hidden bg-white flex-md-row mb-4 p-10  h-md-250 position-relative">
        <div class="col-md-6">
            <h1 class="display-4 fw-bold ls-sm">About GO-HvA </h1>
            re-set (towards sustainable through and through) is a three-year strategic program to give the AUAS a
            powerful impulse in its development into a leading sustainable university of applied sciences. The program
            runs from 2019 to 2021 and focuses on making business operations, research and education more sustainable.
            At the end of the program, the mission, vision, objectives and the resulting activities of re-set have
            landed in the DNA of the Hogeschool van Amsterdam.
            <br><br>
            In general, the AUAS's organizational units are working
            on sustainable change. The program has a vibrant network of change agents in the faculties and services, who
            are pivotal in the work within the organizational units. Through meetups, events, an online platform and a
            strong community, this network of change runs right through the AUAS.
        </div>
        <div class="col-md-6">
            <img src="./assets/images/svg/about-gohva.svg" class="img-fluid">
        </div>
    </div>
</div>
</div>


