<div class="jumbotron">
  <div class="overlay">
    <div class="container">
      <div class="row align-items-start pt-5">
        <div class="col intro d-none d-sm-block">
          <h1>Een duurzamer HvA</h1>
          <h2>En het begint bij jou.</h2>
          <a href="#" class="btn btn-outline-primary ">Inloggen</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Answer Questionnaire</h4>
        <p class="card-text">Answer sustainability questions for your faculty here.</p>
        <a routerLink="question" class="btn btn-outline-primary">Questionnaire</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-outline-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<div class="container">


</div>
