<div class="jumbotron">
  <div class="overlay">
    <div class="container">
      <div class="row align-items-start pt-5">
        <div class="col intro d-none d-sm-block">
          <h1 class="display-4 fw-bold ls-sm">A sustainable HvA</h1>
          <h2 class="display-6 fw-bold ls-sm">making a difference.</h2>
          <a class="btn btn-outline-primary " routerLink="/account/login">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">

  <div class="row border rounded overflow-hidden bg-white flex-md-row mb-4 p-10 shadow-sm h-md-250 position-relative">
    <div class="col-md-6">
      <h1 class="display-4 fw-bold ls-sm">About GO-HvA </h1>
      re-set (towards sustainable through and through) is a three-year strategic program to give the AUAS a
      powerful impulse in its development into a leading sustainable university of applied sciences. The program
      runs from 2019 to 2021 and focuses on making business operations, research and education more sustainable.
      At the end of the program, the mission, vision, objectives and the resulting activities of re-set have
      landed in the DNA of the Hogeschool van Amsterdam.
      <br><br>
      In general, the AUAS's organizational units are working
      on sustainable change. The program has a vibrant network of change agents in the faculties and services, who
      are pivotal in the work within the organizational units. Through meetups, events, an online platform and a
      strong community, this network of change runs right through the AUAS.
    </div>
    <div class="col-md-6">
      <img src="./assets/images/svg/about-gohva.svg" class="img-fluid">
    </div>

  </div>

</div>


