<div class="row my-6">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-6 mb-xl-0">
        <!-- card  -->
        <div class="card h-100">
            <!-- card body  -->
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <h4 class="mb-0">Faculty averages </h4>
                    </div>
                    <!-- dropdown  -->
                    <div class="dropdown dropstart">
                        <a aria-expanded="false" aria-haspopup="true"
                           class="text-muted text-primary-hover" data-bs-toggle="dropdown" href="#"
                           id="dropdownTask" role="button">
                            <i class="icon-xxs" data-feather="more-vertical"></i>
                        </a>
                        <div aria-labelledby="dropdownTask" class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>

                <div class="card mt-4 mb-2">
                    <div [options]="chartOption" class="demo-chart" echarts></div>
                </div>

                <!-- chart  -->
                <div class="mb-8">
                    <div id="perfomanceChart"></div>
                </div>

                <!-- icon with content  -->
                <div class="accordion" id="accordionExample">

                    <div *ngFor="let faculty of facultyList">
                        <div *ngIf="faculty._id != undefined">


                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button (click)="getFacultyAverages(faculty._id)" [attr.data-bs-target]=" '#'+ faculty.username[0]"
                                            class="accordion-button" data-bs-toggle="collapse"
                                            type="button">
                                        {{faculty._id}}
                                    </button>
                                </h2>
                                <div aria-labelledby="headingOne" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionExample" id="{{faculty.username[0]}}">
                                    <div class="accordion-body">
                                        <div class="d-flex align-items-center justify-content-around">
                                            <div class="text-center">
                                                <i class="icon-sm text-success"
                                                   data-feather="check-circle"></i>
                                                <h1 class="mt-3 fw-bold mb-1">{{getFacultyAverage("Education")}}</h1>
                                                <p>Education</p>
                                            </div>
                                            <div class="text-center">
                                                <i class="icon-sm text-warning"
                                                   data-feather="trending-up"></i>
                                                <h1 class="mt-3 fw-bold mb-1">{{getFacultyAverage("Research")}}</h1>
                                                <p>Research</p>
                                            </div>
                                            <div class="text-center">
                                                <i class="icon-sm text-danger"
                                                   data-feather="trending-down"></i>
                                                <h1 class="mt-3 fw-bold mb-1">{{getFacultyAverage("Business operations/Facilities")}}</h1>
                                                <p>B.O.F</p>
                                            </div>
                                            <div class="text-center">
                                                <i class="icon-sm text-danger"
                                                   data-feather="trending-down"></i>
                                                <h1 class="mt-3 fw-bold mb-1">{{getFacultyAverage("Organisation")}}</h1>
                                                <p>Organisation</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end survey modal -->
</div>
