<div class="row my-6">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-6 mb-xl-0">
        <!-- card  -->
        <div class="card h-100">
            <!-- card body  -->
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <h4 class="mb-0">Faculty averages </h4>
                    </div>
                    <!-- dropdown  -->
                    <div class="dropdown dropstart">
                        <a aria-expanded="false" aria-haspopup="true"
                           class="text-muted text-primary-hover" data-bs-toggle="dropdown" href="#"
                           id="dropdownTask" role="button">
                            <i class="icon-xxs" data-feather="more-vertical"></i>
                        </a>
                        <div aria-labelledby="dropdownTask" class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>

                <div class="card mt-4 mb-2">
                    <div [options]="chartOption" class="demo-chart" echarts></div>
                </div>


                <div class="row">
                        <div class="col-6" *ngFor="let faculty of facultyData">
                            <div class="card mt-4 mb-2">
                                <span class="badge rounded-pill bg-secondary w-50 m-auto">{{faculty.facultyName}}</span>
                                <div [options]="chartOptionFaculty(getFacultyChartData(faculty.facultyName))" class="demo-chart" echarts></div>
                            </div>
                        </div>
                </div>

                <!-- chart  -->
                <div class="mb-8">
                    <div id="perfomanceChart"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end survey modal -->
</div>
<notifier-container></notifier-container>
