<div class="row my-6">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-6 mb-xl-0">
        <!-- card  -->
        <div class="card h-100">
            <!-- card body  -->
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <h4 class="mb-0">Faculty averages </h4>
                    </div>
                    <!-- dropdown  -->
                    <div class="dropdown dropstart">
                        <a aria-expanded="false" aria-haspopup="true"
                           class="text-muted text-primary-hover" data-bs-toggle="dropdown" href="#"
                           id="dropdownTask" role="button">
                            <i class="icon-xxs" data-feather="more-vertical"></i>
                        </a>
                        <div aria-labelledby="dropdownTask" class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <div class="card mt-4 mb-2">
                    <div [options]="chartOption" class="demo-chart" echarts></div>
                </div>
                <div class="row">
                        <div class="col-6" *ngFor="let faculty of facultyData">
                            <div class="card mt-4 mb-2">
                                <span class="statistic-badge badge rounded-pill bg-secondary m-auto"
                                      data-bs-target="#programmeStatistics"
                                      data-bs-toggle="modal" (click)="selectFaculty(faculty.facultyName)">{{faculty.facultyName}}</span>
                                <div [options]="chartOptionFaculty(getFacultyChartData(faculty.facultyName))" echarts></div>
                            </div>
                        </div>
                </div>
                <!-- chart  -->
                <div class="mb-8">
                    <div id="perfomanceChart"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end survey modal -->
    <!-- Add user modal -->
    <div aria-hidden="true" class="modal fade" id="programmeStatistics" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Programmes</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body text-center" *ngIf="programmeData.length > 0">
                    <h4 *ngFor="let programme of programmeData">{{programme._id}}</h4>
                </div>
                <div class="modal-body text-center" *ngIf="programmeData.length == 0">
                    <h3 class="mb-5">No registered programmes</h3>
                    <img class="img-fluid  w-50 me-auto"
                         src="./assets/images/svg/no-statistic.svg">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End user modal -->
</div>
<notifier-container></notifier-container>
