<div class="container-fluid d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0
        min-vh-100">
        <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
            <!-- Card -->
            <div class="card smooth-shadow-md">
                <!-- Card body -->
                <div class="card-body p-6">
                    <div class="mb-4">
                        <a href="../index.html"> <img class="img-fluid mb-5" src="/assets/images/brand/logo.png"
                                                      style="width:100%"></a>
                        <p class="mb-6 text-center">Please enter your user information.</p>
                    </div>
                    <!-- Form -->
                    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                        <!-- Username -->
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" formControlName="username" id="username" name="username"
                                   placeholder="Username" required type="text">
                        </div>
                        <!-- Password -->
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" formControlName="password" id="password" name="password"
                                   placeholder="**************" required type="password">
                        </div>
                        <div>
                            <!-- Button -->
                            <div class="d-grid">
                                <button class="btn btn-primary" id="submitButton" type="submit">Sign in
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<notifier-container></notifier-container>

