<div class="container-fluid d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0
        min-vh-100">
        <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
            <!-- Card -->
            <div class="card smooth-shadow-md">
                <!-- Card body -->
                <div class="card-body p-6">
                    <div class="mb-4">
                        <a href="../index.html"> <img class="img-fluid mb-5" src="/assets/images/brand/logo.png"
                                                      style="width:100%"></a>
                        <p class="mb-6 text-center">Please enter your user information.</p>
                    </div>
                    <!-- Form -->
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <!-- Username -->
                        <div class="mb-3">
                            <label for="email" class="form-label">Username or email</label>
                            <input type="email" id="email" formControlName="username" class="form-control" name="email"
                                   placeholder="Email address here" required="">
                        </div>
                        <!-- Password -->
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" id="password" formControlName="password" class="form-control"
                                   name="password" placeholder="**************" required="">
                        </div>
                        <div>
                            <!-- Button -->
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Sign in
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
