<div class="row my-6">
    <!-- card  -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="card h-100">
            <!-- card header  -->
            <div class="card-header bg-white border-bottom-0 py-4">
                <h4 class="mb-0">Profiles ({{userList?.length}}) </h4>
            </div>
            <!-- table  -->
            <div class="table-responsive">
                <table class="table text-nowrap">
                    <thead class="table-light">
                    <tr>
                        <th>Name</th>
                        <th>Faculty</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of userList">
                        <td class="align-middle">
                            <div class="d-flex align-items-center">
                                <div>
                                    <img alt=""
                                         class="avatar-md avatar rounded-circle"
                                         src="assets/images/avatar/avatar-admin.png">
                                </div>
                                <div class="ms-3 lh-1">
                                    <h5 class="fw-bold mb-1">{{user.username}}</h5>
                                    <p class="mb-0">{{user.email}}</p>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">{{user.faculty}}</td>

                        <td class="align-middle">
                            <a (click)="deleteUser(user.id)" *ngIf="user.username != 'admin'"
                               class="btn btn-light-danger">
                                <svg class="bi bi-x-lg" fill="currentColor" height="16"
                                     viewBox="0 0 16 16"
                                     width="16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"
                                          fill-rule="evenodd"/>
                                    <path d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"
                                          fill-rule="evenodd"/>
                                </svg>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="card-footer bg-white text-center">
                <a class="btn btn-white" data-bs-target="#addUserModal" data-bs-toggle="modal" href="#">
                    Add New profile
                </a>
            </div>
        </div>
    </div>


    <!-- Add user modal -->
    <div aria-hidden="true" class="modal fade" id="addUserModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Profile</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="newUserForm">
                        <div class="form-group mb-3">
                            <label>Username</label>
                            <input class="form-control" formControlName="username" type="text">
                        </div>

                        <div class="form-group mb-3">
                            <label>Email</label>
                            <input class="form-control" formControlName="email" type="email">
                        </div>

                        <div class="form-group mb-3">
                            <label>Faculty</label>
                            <select class="form-control" formControlName="faculty">
                                <option></option>
                                <option value="FACULTY OF APPLIED SOCIAL SCIENCES AND LAW">
                                    FACULTY OF APPLIED SOCIAL SCIENCES AND LAW
                                </option>
                                <option value="FACULTY OF BUSINESS AND ECONOMICS">
                                    FACULTY OF BUSINESS AND ECONOMICS
                                </option>
                                <option value="FACULTY OF DIGITAL MEDIA AND CREATIVE INDUSTRIES">
                                    FACULTY OF DIGITAL MEDIA AND CREATIVE INDUSTRIES
                                </option>
                                <option value="FACULTY OF EDUCATION">
                                    FACULTY OF EDUCATION
                                </option>
                                <option value="FACULTY OF HEALTH">
                                    FACULTY OF HEALTH
                                </option>
                                <option value="FACULTY OF SPORTS AND NUTRITION">
                                    FACULTY OF SPORTS AND NUTRITION
                                </option>
                                <option value="FACULTY OF TECHNOLOGY">
                                    FACULTY OF TECHNOLOGY
                                </option>
                            </select>
                        </div>

                        <div class="form-group mb-3">
                            <label>Password</label>
                            <input class="form-control" formControlName="password" type="password">
                        </div>

                        <div class="form-group mb-3">
                            <label>Role</label>
                            <input class="form-control" readonly type="text" value="ROLE_FACULTY">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                    <button (click)="addUser()" class="btn btn-primary" type="button">Create</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End user modal -->
</div>
<notifier-container></notifier-container>

