<div class="container">
  <form>
    <h4>Question</h4>
    <div class="row">
      <div class="col-12">
        <div class="text d-inline">
          <label class="form-check-label" for="radioFemale">How green is your faculty of the HvA</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="gender" checked>
          <label class="form-check-label" for="radioMale">Male</label>
        </div>
        <div class="form-check form-check-inline ms-3">
          <input type="radio" class="form-check-input" name="gender">
          <label class="form-check-label" for="radioFemale">Female</label>
        </div>
        <div class="form-check form-check-inline ms-3">
          <input type="radio" class="form-check-input" name="gender">
          <label class="form-check-label" for="radioFemale">Female</label>
        </div>
        <div class="form-check form-check-inline ms-3">
          <input type="radio" class="form-check-input" name="gender">
          <label class="form-check-label" for="radioFemale">Female</label>
        </div>
        <div class="form-check form-check-inline ms-3">
          <input type="radio" class="form-check-input" name="gender">
          <label class="form-check-label" for="radioFemale">Female</label>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="text d-inline">
            <label class="form-check-label" for="radioFemale">How green is your faculty of the HvA</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" name="gender" checked>
            <label class="form-check-label" for="radioMale">Male</label>
          </div>
          <div class="form-check form-check-inline ms-3">
            <input type="radio" class="form-check-input" name="gender">
            <label class="form-check-label" for="radioFemale">Female</label>
          </div>
          <div class="form-check form-check-inline ms-3">
            <input type="radio" class="form-check-input" name="gender">
            <label class="form-check-label" for="radioFemale">Female</label>
          </div>
          <div class="form-check form-check-inline ms-3">
            <input type="radio" class="form-check-input" name="gender">
            <label class="form-check-label" for="radioFemale">Female</label>
          </div>
          <div class="form-check form-check-inline ms-3">
            <input type="radio" class="form-check-input" name="gender">
            <label class="form-check-label" for="radioFemale">Female</label>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="text d-inline">
              <label class="form-check-label" for="radioFemale">How green is your faculty of the HvA</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" name="gender" id="radioMale" checked>
              <label class="form-check-label" for="radioMale">Male</label>
            </div>
            <div class="form-check form-check-inline ms-3">
              <input type="radio" class="form-check-input" name="gender">
              <label class="form-check-label" for="radioFemale">Female</label>
            </div>
            <div class="form-check form-check-inline ms-3">
              <input type="radio" class="form-check-input" name="gender">
              <label class="form-check-label" for="radioFemale">Female</label>
            </div>
            <div class="form-check form-check-inline ms-3">
              <input type="radio" class="form-check-input" name="gender">
              <label class="form-check-label" for="radioFemale">Female</label>
            </div>
            <div class="form-check form-check-inline ms-3">
              <input type="radio" class="form-check-input" name="gender" id="radioFemale">
              <label class="form-check-label" for="radioFemale">Female</label>
            </div>
          </div>
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4 justify-content-center">Place order</button>
        </div>
      </div>
    </div>
  </form>
</div>
<h2 class="mt-4">Two columns with two nested columns</h2>
<p>Per the documentation, nesting is easy—just put a row of columns within an existing column. This gives you two columns <strong>starting at desktops and scaling to large desktops</strong>, with another two (equal widths) within the larger column.</p>
<p>At mobile device sizes, tablets and down, these columns and their nested columns will stack.</p>
<div class="row mb-3" style="background: #0b5c46; outline: #1a1e21">
  <div class="col-md-8 themed-grid-col">
    <div class="pb-3">
      .col-md-8
    </div>
    <div class="row">
      <div class="col-md-6 themed-grid-col">.col-md-6</div>
      <div class="col-md-6 themed-grid-col">.col-md-6</div>
    </div>
  </div>
  <div class="col-md-4 themed-grid-col">.col-md-4</div>
</div>

