<div class="header">
    <!-- navbar -->
    <nav class="navbar-classic navbar navbar-expand-lg">
        <a>
            <img class="img-fluid" routerLink="/account/login" src="/assets/images/brand/logo.png" style="width:200px">
        </a>
        <!--Navbar nav -->
        <ul class="navbar-nav navbar-right-wrap ms-auto d-flex nav-top-wrap">
            <li >
                <a class="btn btn-light btn-icon rounded-circle indicator indicator-primary text-muted"
                   href="#"
                   role="button"
                   id="dropdownNotification"
                   data-bs-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart" viewBox="0 0 16 16">
                        <path d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z"/>
                    </svg>
                </a>
            </li>
            <!--<li class="dropdown stopevent">-->
            <!--<a class="btn btn-light btn-icon rounded-circle indicator indicator-primary text-muted"-->
            <!--href="#"-->
            <!--role="button"-->
            <!--id="dropdownNotification"-->
            <!--data-bs-toggle="dropdown"-->
            <!--aria-haspopup="true"-->
            <!--aria-expanded="false">-->
            <!--<i class="icon-xs" data-feather="bell"></i>-->
            <!--</a>-->
            <!--<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end"-->
            <!--aria-labelledby="dropdownNotification">-->
            <!--<div>-->
            <!--<div class="border-bottom px-3 pt-2 pb-3 d-flex justify-content-between align-items-center">-->
            <!--<p class="mb-0 text-dark fw-medium fs-4">Notifications</p>-->
            <!--<a href="#" class="text-muted">-->
            <!--<span>-->
            <!--<i class="me-1 icon-xxs" data-feather="settings"></i>-->
            <!--</span>-->
            <!--</a>-->
            <!--</div>-->
            <!--&lt;!&ndash; List group &ndash;&gt;-->
            <!--<ul class="list-group list-group-flush notification-list-scroll">-->
            <!--&lt;!&ndash; List group item &ndash;&gt;-->
            <!--<li class="list-group-item bg-light">-->


            <!--<a href="#" class="text-muted">-->
            <!--<h5 class="fw-bold mb-1">Rishi Chopra</h5>-->
            <!--<p class="mb-0">-->
            <!--Mauris blandit erat id nunc blandit, ac eleifend dolor pretium.-->
            <!--</p>-->
            <!--</a>-->


            <!--</li>-->
            <!--&lt;!&ndash; List group item &ndash;&gt;-->
            <!--<li class="list-group-item">-->


            <!--<a href="#" class="text-muted">-->
            <!--<h5 class="fw-bold mb-1">Neha Kannned</h5>-->
            <!--<p class="mb-0">-->
            <!--Proin at elit vel est condimentum elementum id in ante. Maecenas et-->
            <!--sapien metus.-->
            <!--</p>-->
            <!--</a>-->


            <!--</li>-->
            <!--&lt;!&ndash; List group item &ndash;&gt;-->
            <!--<li class="list-group-item">-->


            <!--<a href="#" class="text-muted">-->
            <!--<h5 class="fw-bold mb-1">Nirmala Chauhan</h5>-->
            <!--<p class="mb-0">-->
            <!--Morbi maximus urna lobortis elit sollicitudin sollicitudieget elit vel-->
            <!--pretium.-->
            <!--</p>-->
            <!--</a>-->


            <!--</li>-->
            <!--&lt;!&ndash; List group item &ndash;&gt;-->
            <!--<li class="list-group-item">-->


            <!--<a href="#" class="text-muted">-->
            <!--<h5 class="fw-bold mb-1">Sina Ray</h5>-->
            <!--<p class="mb-0">-->
            <!--Sed aliquam augue sit amet mauris volutpat hendrerit sed nunc eu diam.-->
            <!--</p>-->
            <!--</a>-->


            <!--</li>-->
            <!--</ul>-->
            <!--<div class="border-top px-3 py-2 text-center">-->
            <!--<a href="#" class="text-inherit fw-semi-bold">-->
            <!--View all Notifications-->
            <!--</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</li>-->
            <!-- List -->
            <li class="dropdown ms-2">
                <a aria-expanded="false" aria-haspopup="true" class="rounded-circle" data-bs-toggle="dropdown"
                   href="#" id="dropdownUser" role="button">
                    <div class="avatar avatar-md avatar-indicators avatar-online">
                        <img alt="avatar" class="rounded-circle"
                             src="/assets/images/avatar/avatar.jpg"/>
                    </div>
                </a>
                <div aria-labelledby="dropdownUser"
                     class="dropdown-menu dropdown-menu-end">
                    <div class="px-4 pb-0 pt-2">


                        <div class="lh-1 ">
                            <h5 class="mb-1">{{email}}</h5>
                            <p class="text-inherit fs-6">{{roles[0]}}</p>
                            <p class="text-inherit fs-6">{{faculty}}</p>

                        </div>
                        <div class=" dropdown-divider mt-3 mb-2"></div>
                    </div>

                    <ul class="list-unstyled">
                        <li>
                            <a (click)="onLogout()" class="dropdown-item">
                                <i class="me-2 icon-xxs dropdown-item-icon"
                                   data-feather="power"></i>Sign Out
                            </a>
                        </li>
                    </ul>

                </div>
            </li>
        </ul>
    </nav>
</div>

<router-outlet></router-outlet>
